<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre</title>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <!-- Logo -->
        <div class="logo">
            <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        </div>
        <!-- Search -->
        <div class="search">
            <form action="">
                <input type="text" name="search" id="search" placeholder="Buscar productos, marcas y más">
            </form>
        </div>
        <!-- Main Paragraph -->
        <p class="main-paragraph"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <!-- Navigation bar -->
        <div class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="#">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>

    </div>
    <!-- END Header -->

    <!-- Banner -->
    <div class="main-banner">
        <img src="/img/img-home-banner.jpg" alt="estas fiestas no te pierdas ninguna venta">
    </div>
    <!-- END Banner -->

    <!-- Last Visited -->
    <div class="products">
        <p class="title">Basado en tu última visita</p>
        <div class="product">
            <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex">
            <i class="fas fa-truck icon"></i>
            <p class="price">$6770</p>
            <p class="discount">40% OFF</p>
            <p class="description">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
        </div>
        <div class="product">
            <img src="/img/img-macbook-pro-2019.jpg" alt="macbook pro 2019">
            <i class="fas fa-truck icon"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% OFF</p>
            <p class="description">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
        </div>
        <div class="product">
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10">
            <i class="fas fa-truck icon"></i>
            <p class="price">$70.500</p>
            <p class="discount">10% OFF</p>
            <p class="description">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
        </div>
        <div class="product">
            <img src="/img/img-tv-samsung-smart.jpg" alt="smart tv samsung">
            <i class="fas fa-truck icon"></i>
            <p class="price">$34.000</p>
            <p class="discount">5% OFF</p>
            <p class="description">SmartTV Samsung 43" Lorem ipsum, dolor sit amet.</p>
        </div>
    </div>
    <!-- END Last Visited -->
    
    <!-- Discounts -->
    <div class="products">
        <p class="title">Ofertas</p>
        <div class="product">
            <img src="/img/img-cafetera-moulinex.jpg" alt="cafetera moulinex" width="375">
            <i class="fas fa-truck icon"></i>
            <p class="price">$6770</p>
            <p class="discount">40% OFF</p>
            <p class="description">Cafetera Moulinex Dolce Gusto Lorem ipsum, dolor sit amet.</p>
        </div>
        <div class="product">
            <img src="/img/img-macbook-pro-2019.jpg" alt="macbook pro 2019" width="375">
            <i class="fas fa-truck icon"></i>
            <p class="price">$230.000</p>
            <p class="discount">20% OFF</p>
            <p class="description">Macbook Pro 2019 Lorem ipsum, dolor sit amet.</p>
        </div>
        <div class="product">
            <img src="/img/img-samsung-galaxy-s10.jpg" alt="samsung galaxy s10" width="375">
            <i class="fas fa-truck icon"></i>
            <p class="price">$70.500</p>
            <p class="discount">10% OFF</p>
            <p class="description">Teléfono móvil Samsung Galaxy S10 Lorem ipsum, dolor sit amet.</p>
        </div>
        <div class="product">
            <img src="/img/img-tv-samsung-smart.jpg" alt="smart tv samsung" width="375">
            <i class="fas fa-truck icon"></i>
            <p class="price">$34.000</p>
            <p class="discount">5% OFF</p>
            <p class="description">SmartTV Samsung 43" Lorem ipsum, dolor sit amet.</p>
        </div>
    </div>
    <!-- END Discounts -->

    <!-- Info -->
    <div class="info">
        <!-- Info Pago -->
        <i class="fas fa-credit-card"></i>
        <h3>Pagá con tarjeta o en efectivo</h3>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        <!-- Info Envio -->
        <i class="fas fa-gift"></i>
        <h3>Envío gratis desde los $ 2.500</h3>
        <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        <!-- Info Devoluciones -->
        <i class="fas fa-user-shield"></i>
        <h3>Seguridad de principio a fin</h3>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
    </div>
    <!-- END Info -->

    <!-- Footer -->
    <div class="footer">
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
    <!-- END Footer -->
    
</body>
</html>