<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Mercado Liebre - Login</title>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <!-- Logo -->
        <div class="logo">
            <img src="/img/logo-mercado-liebre.svg" alt="Logo Mercado Liebre">
        </div>
        <!-- Search -->
        <div class="search">
            <form action="">
                <input type="text" name="search" id="search" placeholder="Buscar productos, marcas y más">
            </form>
        </div>
        <!-- Main Paragraph -->
        <p class="main-paragraph"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        <!-- Navigation bar -->
        <div class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta <i class="far fa-id-card"></i></a></li>
                <li><a href="/login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>

    </div>
    <!-- END Header -->

    <!-- Banner -->
    <div class="main-banner">
        <img src="/img/img-home-banner.jpg" alt="estas fiestas no te pierdas ninguna venta">
    </div>
    <!-- END Banner -->

    <!-- Login -->
    <div class="login">
        <form action="" method="POST">
            <div>
                <label for="userName"></label>
                <input type="text" placeholder="Nombre de usuario" name="userName" id="userName">
            </div>
            <div>
                <label for="password"></label>
                <input type="password" placeholder="Elegí tu contraseña" name="password" id="password">
            </div>
            <br>
            <div>
                <button type="submit">Enviar</button>
            </div>
            <br>
        </form>
    </div>
    <!-- END Register -->

    <!-- Footer -->
    <div class="footer">
        <div class="info">
            <!-- Info Pago -->
            <i class="fas fa-credit-card"></i>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            <!-- Info Envio -->
            <i class="fas fa-gift"></i>
            <h3>Envío gratis desde los $ 2.500</h3>
            <p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            <!-- Info Devoluciones -->
            <i class="fas fa-user-shield"></i>
            <h3>Seguridad de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegido.</p>
        </div>
        <p>Copyright © 1999-2019 MercadoLiebre S.R.L.</p>
    </div>
    <!-- END Footer -->
    
</body>
</html>