<header>
    <nav>
        <a href="/groups">Listar grupos</a>
        <a href="/groups/create">Crear grupo</a>
        <a href="/groups/search">Buscar grupo</a>
        <a href="/users">Listar usuarios</a>
        <a href="/users/create">Crear usuario</a>
        <a href="/users/search">Buscar usuario</a>
    </nav>
</header>