<!DOCTYPE html>
<html>
  <head>
    <title>Héroes Digitales - Créditos</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Créditos</h1>
    <p><%= credits %></p>
  </body>
</html>
