<!DOCTYPE html>
<html>
  <head>
    <title>Héroes Digitales</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Saludo de un Héroe</h1>
    <h2><%= msg %></h2>
  </body>
</html>
