<!DOCTYPE html>
<html>
  <head>
    <title>Héroes Digitales</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Reseña de un Héroe</h1>
    <h2><%= name %></h2>
    <p><%= review %></p>
  </body>
</html>
