<!DOCTYPE html>
<html lang="en">
<%- include('partials/head', { title: 'Error 404' }) %>
<body class="maintenance">
    <%- include('partials/header') %> 
    <main>
        <div class="maintenance-hero">
            <figure class="image">
                <img src="/img/404.jpg" alt="">
            </figure>
        </div>
    </main>
</body>
</html>