/* Colores */
:root {
    --yellow: #EAC926;
    --blue: #0022AA;
    --light-blue: #0044AA;
    --dark-gray: #666;
    --light-gray: #cac1c1;
    --green: #39b54a;
    --red: #AA0044;
    --light-red: #CC1155;
}

/* All elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Tipografía */
body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
nav {
    background-color: var(--yellow);
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
nav .nav-logo {
    width: 32%;
}
nav .nav-search {
    flex-grow: 1;
}
    nav .nav-search form {
        height: 2.5rem;
    }
    .search-box {
        display: flex;
        position: relative;
        background-color: white;
        align-items: stretch;
        height: 90%;
        border: 0;
        border-radius: 6px;
        margin: 0 0 0 .5rem;
        padding: 0 .5rem;
    }
        .search-box input {
            width: 100%;
            border: 0;
            font-size: 1rem;
        }
        .search-box i {
            padding: .5rem;
            background-color: white;
            color: var(--dark-gray);
            border: 0;
            position: absolute;
            top: 0;
            right: .25rem;
        }
nav .nav-paragraph {
    width: 100%;
    font-size: 0.75rem;
    text-align: center;
    margin: 0.75rem 0 0;
}
nav .nav-toggler {
    margin: 1rem 0 0;
}
    nav .nav-toggler button {
        background-color: var(--light-blue);
        border-radius: 6px;
        border: 0;
    }
    nav .nav-toggler i {
        color: white;
        font-size: 1.25rem;
        padding: .75rem;
    }
    nav .nav-toggler i:hover {
        background-color: var(--blue);
        cursor: pointer;
    }
nav .nav-collapse {
    display: none;
}

/* Banner */
.main-banner img {
    display: block;
    width: 100%;
}

/* Main */
main {
    background-color: var(--light-gray);
    padding: .5rem 0;
}
main .title {
    margin: 1.25rem;
    color: var(--dark-gray);
    font-size: 1.5rem;
    font-weight: bold;
}

/* Section Products */
.products {
    display: flex;
    flex-wrap: wrap;
}

/* Article Product */
.product {
    background-color: white;
    font-weight: bold;
    margin: 0 1.25rem 1.25rem 1.25rem;
    padding: 1rem;
}
.product:hover {
    box-shadow: 0 0 .75rem rgb(100, 100, 100);
}
.product:hover .hidden-text,
.product:focus .hidden-text {
    display: block;
}
.product:last-of-type  {
    margin-bottom: 0;
}
.product img {
    width: 100%;
}
.product-info {
    border-top: 1px solid #EBEBEB;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.product-info i {
    color: var(--green);
    padding: .4rem;
    border-radius: 1rem;
    border: 1px solid var(--green);
    position: absolute;
    top: -1rem;
    right: 1rem;
    width: 2rem;
}
.product-info p {
    padding: .75rem 1.25rem;
}
.product-info .price {
    color: var(--dark-gray);
    font-size: 1rem;
    width: 33.333333%;
}
.product-info .discount {
    color: var(--green);
    font-size: 1rem;
    width: 66.666667%;
}
.product-info .description {
    color: var(--dark-gray);
    font-size: 1rem;
}
.product-info .hidden-text {
    display: none;
}

/* Main Login */
main.login, main.register {
    padding: .75rem 1.25rem;
}
main.login input, main.register input {
    width: 100%;
    padding: .75rem;
    margin: 1.25rem 0;
    border-radius: 6px;
    border: 0;
}
input[type="submit"] {
    color: white;
    background-color: var(--blue);
}
input[type="submit"]:hover {
    background-color: var(--light-blue);
}
input[type="reset"] {
    color: white;
    background-color: var(--red);
}
input[type="reset"]:hover {
    background-color: var(--light-red);
}

/* Main register */
.register .profile {
    display: flex;
}
.register .interests {
    display: flex;
    flex-direction: column;
}
.register .profile p, .register .interests p {
    margin-left: 1.25rem;
}
input[type="checkbox"], input[type="radio"] {
    align-self: center;
}

/* Footer */
footer {
    padding: 1.25rem .3rem;
    text-align: center;
    
}
footer .info {
    margin: 1rem;
    color: var(--dark-gray);
}
    footer .info i {
        color: var(--light-blue);
        font-size: 2rem;
        margin: 1rem;
    }
    footer>p {
        color: var(--light-gray);   
        font-size: .8rem;
    }

/* Desktop */

@media (min-width: 769px) {
    nav .nav-logo {
        width: 16.666667%;
    }
    nav .nav-paragraph {
        width: 33.333333%;
    }
    nav .nav-toggler {
        display: none;
    }
    nav .nav-collapse {
        flex-grow: 1;
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;
    }
        .nav-collapse a {
            color: var(--dark-gray);
            font-size: .9rem;
            text-decoration: none;
            padding: 0 .5rem;
        }
        .nav-collapse .nav-right {
            align-self: flex-end;
        }
    .product {
        width: calc(50% - 2.5rem);
    }
    .product:last-of-type {
        margin-bottom: 1.25rem;
    }
}