<!DOCTYPE html>
<html>
  <head>
    <title>Movies CRUD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
        <p>CRUD Sequelize</p>
        <nav>
          <ul>
            <li><a href="/movies/create">Crear Pelicula</a></li>
            <li><a href="/movies">Ver Pelicula</a></li>
          </ul>
        </nav>
      </header>