<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Listado de Usuarios' }) %>
<body>
    <%- include('../partials/header') %>
    <main>
        <div class="container">
            <% users.forEach(user => { %>
                <%- include('user', { user }) %>
            <% }) %>
        </div>
    </main>
</body>
</html>