<!DOCTYPE html>
<html>
  <head>
    <title>Movies CRUD</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <header>
        <div>
          <a href="/">
            <img src="/images/logo.gif" alt="logo peliculas">
          </a>
        </div>
        <nav>
          <a class="btn" href="/movies/create">Crear Pelicula</a>
          <a class="btn" href="/movies">Ver Pelicula</a>
        </nav>
      </header>